services:
  auth-service-http:
    build: ./auth_service
    container_name: auth_service_http
    expose:
      - "8002"
    environment:
      - POSTGRES_HOST=${DEV_AUTH_POSTGRES_HOST}
      - POSTGRES_PORT=${DEV_AUTH_POSTGRES_PORT}
      - POSTGRES_USER=${DEV_AUTH_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_AUTH_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_AUTH_POSTGRES_DB}

      - REDIS_HOST=${DEV_REDIS_HOST}
      - REDIS_PORT=${DEV_REDIS_PORT}
      - REDIS_USER=${DEV_REDIS_USER}
      - REDIS_USER_PASSWORD=${DEV_REDIS_USER_PASSWORD}
      - REDIS_PASSWORD=${DEV_REDIS_PASSWORD}

      - RABBITMQ_HOST=${DEV_RABBITMQ_HOST}
      - RABBITMQ_PORT=${DEV_RABBITMQ_PORT}
      - RABBITMQ_USER=${DEV_RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${DEV_RABBITMQ_PASSWORD}

      - ALGORITHM=${DEV_AUTH_ALGORITHM}
      - SECRET_KEY=${DEV_AUTH_SECRET_KEY}
    restart: always
    depends_on:
      awesome-notes-rabbitmq:
        condition: service_healthy
      awesome-notes-redis:
        condition: service_healthy
      auth-service-db:
        condition: service_started
    networks:
      - awesome-notes-network
  
  user-service-http:
    build: ./user_service
    container_name: user_service_http
    expose: 
      - "8001"
    environment:
      - POSTGRES_HOST=${DEV_USER_POSTGRES_HOST}
      - POSTGRES_PORT=${DEV_USER_POSTGRES_PORT}
      - POSTGRES_USER=${DEV_USER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_USER_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_USER_POSTGRES_DB}

      - RABBITMQ_HOST=${DEV_RABBITMQ_HOST}
      - RABBITMQ_PORT=${DEV_RABBITMQ_PORT}
      - RABBITMQ_USER=${DEV_RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${DEV_RABBITMQ_PASSWORD}
    restart: always
    depends_on:
      awesome-notes-rabbitmq:
        condition: service_healthy
      user-service-db:
        condition: service_started
    networks:
      - awesome-notes-network
  
  notes-service-http:
    build: ./notes_service
    container_name: notes_service_http
    expose:
      - "8003"
    environment:
      - POSTGRES_HOST=${DEV_NOTES_POSTGRES_HOST}
      - POSTGRES_PORT=${DEV_NOTES_POSTGRES_PORT}
      - POSTGRES_USER=${DEV_NOTES_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_NOTES_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_NOTES_POSTGRES_DB}

      - RABBITMQ_HOST=${DEV_RABBITMQ_HOST}
      - RABBITMQ_PORT=${DEV_RABBITMQ_PORT}
      - RABBITMQ_USER=${DEV_RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${DEV_RABBITMQ_PASSWORD}
    restart: always
    depends_on:
      awesome-notes-rabbitmq:
        condition: service_healthy
      notes-service-db:
        condition: service_started
    networks:
      - awesome-notes-network

  user-service-db:
    image: postgres:17-alpine
    command: ["postgres","-c","port=5432"]
    environment:
      - POSTGRES_USER=${DEV_USER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_USER_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_USER_POSTGRES_DB}
    volumes: 
      - user_async_service_postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - awesome-notes-network

  notes-service-db:
    image: postgres:17-alpine
    command: ["postgres","-c","port=5433"]
    environment: 
      - POSTGRES_USER=${DEV_NOTES_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_NOTES_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_NOTES_POSTGRES_DB}
    volumes:
      - notes_async_service_postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - awesome-notes-network

  auth-service-db:
    image: postgres:17-alpine
    command: ["postgres","-c","port=5434"]
    environment:
      - POSTGRES_USER=${DEV_AUTH_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_AUTH_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_AUTH_POSTGRES_DB}
    volumes:
      - auth_async_service_postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - awesome-notes-network

  awesome-notes-rabbitmq:
    image: rabbitmq:4.1-management-alpine
    hostname: awesome-notes-rabbitmq
    environment:
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,error}] disk_free_limit 2147483648
    volumes: 
      - awesome-notes_rabbitmq_data:/var/lib/rabbitmq
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - awesome-notes-network
    
  awesome-notes-redis:
    image: redis:8-alpine
    command: >
      sh -c '
          mkdir -p /usr/local/etc/redis &&
          echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
          echo "requirepass $DEV_REDIS_PASSWORD" >> /usr/local/etc/redis/redis.conf &&
          echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
          echo "appendfsync everysec" >> /usr/local/etc/redis/redis.conf &&
          echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
          echo "user $DEV_REDIS_USER on >$DEV_REDIS_USER_PASSWORD ~* +@all" >> /usr/local/etc/redis/users.acl &&
          redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    volumes: 
      - awesome-notes-redis:/data
    restart: on-failure 
    healthcheck:
      test: ["CMD-SHELL", "redis-cli --user $DEV_REDIS_USER --pass $DEV_REDIS_USER_PASSWORD PING"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - awesome-notes-network

  awesome-notes-nginx:
    build: ./nginx/
    container_name: awesome-notes-nginx
    depends_on:
      - auth-service-http
      - user-service-http
      - notes-service-http
    restart: on-failure
    ports: 
      - "80:80"
      - "443:443"
    networks:
      - awesome-notes-network

volumes:
  user_async_service_postgres_data:
  notes_async_service_postgres_data:
  auth_async_service_postgres_data:
  awesome-notes_rabbitmq_data:
  awesome-notes-redis:

networks:
  awesome-notes-network:
    driver: bridge