ENVIRONMENT=development

# auth_service env vars
DEV_AUTH_POSTGRES_HOST=auth-service-db
DEV_AUTH_POSTGRES_PORT=5434
DEV_AUTH_POSTGRES_USER=auth_service_suser
DEV_AUTH_POSTGRES_PASSWORD=1234
DEV_AUTH_POSTGRES_DB=auth_service

DEV_AUTH_ALGORITHM=HS256
DEV_AUTH_SECRET_KEY=kj3buo3bb^*^W*WBDIhl_+jnchjucjjvlj

# user_service env vars
DEV_USER_POSTGRES_HOST=user-service-db
DEV_USER_POSTGRES_PORT=5432
DEV_USER_POSTGRES_USER=user_service_suser
DEV_USER_POSTGRES_PASSWORD=1234
DEV_USER_POSTGRES_DB=user_service

# notes_service env vars
DEV_NOTES_POSTGRES_HOST=notes-service-db
DEV_NOTES_POSTGRES_PORT=5433
DEV_NOTES_POSTGRES_USER=notes_service_suser
DEV_NOTES_POSTGRES_PASSWORD=1234
DEV_NOTES_POSTGRES_DB=notes_service

# global env vars
DEV_REDIS_HOST=awesome-notes-redis
DEV_REDIS_PORT=6379
DEV_REDIS_USER=awesome_redis_suser
DEV_REDIS_USER_PASSWORD=1234
DEV_REDIS_PASSWORD=1234

DEV_RABBITMQ_HOST=awesome-notes-rabbitmq
DEV_RABBITMQ_PORT=5672
DEV_RABBITMQ_USER=awesome_rabbitmq_suser
DEV_RABBITMQ_PASSWORD=1234
